.container {
  display:flex;
  width: 100%;
  text-align: left;
  padding: var(--spacing-4) var(--spacing-5) 0 var(--spacing-5);
  background-color: var(--background-card);
  box-shadow: var(--bs-primary);
  border-radius: var(--border-radius-small);
  border: none;

  @media screen and (width <= 768px){
    flex-flow: column-reverse nowrap;
    text-align: center;
    align-items: center;
  }
}
 
.title {
  font-size: var(--title-5);
  color: var(--primary);
  font-family:Ubuntu, sans-serif;
  text-align: left; 
  padding-bottom: var(--spacing-3);

  @media screen and (width <= 768px){
    max-width: 90%;
    text-align: center; 
    font-size: var(--title-4);
  }
}

.subtitle {
  font-size: var(--subtitle-2);
  color: var(--gray-700);
  letter-spacing: 0;
  line-height: 1rem;
  padding-bottom: var(--spacing-4);
}

.description {
  max-width: 65%;

  @media screen and (width <= 768px){
    max-width: 90%;
  }
}

.image {
  flex: 1;
}

.button {
  margin-bottom: var(--spacing-3); 
}